/* .nav{
    display: flex;
    justify-content: center;
}

.conteiner{
    justify-content: center;
}

.numbers{
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;    
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #e95e0e;
    border-radius: 10px; 
    padding: 7px;
    background-color: #f3cfb9;
    
    color: #000000;
    text-decoration: none; 
    font-family: 'Helvetica', sans-serif; 
    font-size: 12px;
}
.numbers:hover {
    border: 2px solid #ee894e;
    color: #000000;
    background-color: rgba(243, 115, 77, 0.74);
    cursor: pointer;
    font-family: 'Helvetica', sans-serif; 
}

.active{
    padding: 7px;
    margin-right: 2px;
    margin-left: 7px;
    font-size: 16px;
    border: 2px solid #ee894e;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    font-family: 'Helvetica', sans-serif; 
    background-color: rgba(243, 115, 77, 0.74);
    border-radius: 10px; 
    justify-content: center;

    border: 1px solid #ee894e;
    color: #000000;
    background-color: rgba(243, 115, 77, 0.74);
    cursor: pointer;
    font-family: 'Helvetica', sans-serif; 
} */

/* .nav {
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #f2d6a1; 
  padding: 10px;
  border-radius: 20px;
}

.conteiner {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.numbers {
  background-color: #000000;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
  color: #add8e6;
  transition: background-color 0.2s ease;
}

.numbers:hover {
  cursor: pointer;
  background-color: #b16969;
}

.active {
  background-color: #b16969;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
} */

/* .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.numbers {
  background-color: #000000;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
  color: #add8e6;
  transition: background-color 0.2s ease;
}

.numbers:hover {
  cursor: pointer;
  background-color: #b16969;
}

.active {
  background-color: #b16969;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
} */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.numbers {
  background-color: #000000;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
  color: #add8e6;
  transition: background-color 0.2s ease;
}

.numbers:hover {
  cursor: pointer;
  background-color: #b16969;
}

.active {
  background-color: #b16969;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0 5px;
}
